<a href="https://colab.research.google.com/github/sabah-5/testrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and EcosystemData Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:


*   Python

*   R
*   SCALA


*   SQL

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R

1.   SQL 

Some of the commonly used libraries used by Data Scientists include:

1.   NumPy

1.   Pandas
2.   Matplotlib

| ***Data Science Tools*** |
|------|
| Jupyter Notebook  |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = round(minutes / 60, 2) # round to 2 decimal places
print(hours)

3.33

## Author
Sabah Laarif